certifi==2021.5.30
charset-normalizer==2.0.3
ffmpeg-python==0.2.0
future==0.18.2
idna==3.2
numpy
praw==7.3.0
prawcore==2.2.0
pydub==0.25.1
requests==2.26.0
scipy
six
update-checker==0.18.0
urllib3==1.26.6
websocket-client==1.1.0
